<h2 style="text-align: center ; margin-bottom: 5%; margin-top: 5%">Apps</h2>

<form class="form-group">
  <label >Web App name: </label>
  <input class="form-control"  #appName />
  <label >Web App description: </label>
  <textarea id="textarea" class="form-control" #appDesc   ></textarea>
  <div class="text-center">
  <button  style="margin-bottom: 3%; margin-top: 3%; text-align: center"  type="button" class="btn btn-secondary " (click)="addApp(appName.value , appDesc.value); appName.value='' ; appDesc.value=''" >
    Add App
  </button>
  </div>

</form>

<ul class="list-group">
  <li *ngFor="let app of apps " class="list-group-item list-group-item-action list-group-item-secondary">

      <h4><span class="mb-1">{{app.app_name}}</span>  <span class="mb-1" style="float: right ">{{(app.sum_rate /app.num_rate).toFixed(2) || 0}}</span>  </h4>

      <span  style="display: block" class="name">{{app.app_desc}}</span>
      <span style="display: block; font-size: small" class="name">{{app.created_on | date: 'dd/MM/yyyy'}}</span>

    <div class="text-center">
      <button style="margin-bottom: 3%; margin-top: 3%; text-align: center ; float : left ; font-size: small"  type="button" class="btn btn-primary " (click)="viewApp(app.app_id);">
        View app
      </button>
      <button style="margin-bottom: 3%; margin-top: 3%; text-align: center ; float: right ; font-size: small"  type="button" class="btn btn-danger " (click)="deleteApp(app.app_id);">
        Delete
      </button>
    </div>


  </li>
</ul>




<!--app-web-app-detail [app]="selectedApp"></app-web-app-detail-->
